/*
body > * {
  background-color: rgba(255, 0, 0, 0.3);
}

body > * > * {
  background-color: rgba(0, 0, 255, 0.3);
}
body > * > * > * {
  background-color: rgba(0, 255, 0, 0.3);
}*/
/*-- slider --*/
.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 68px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 8px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% -9px;
  z-index: 100;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 9px;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

/*--- filter ---*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  margin-bottom: 57px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.catalog-item-purchase {
  display: none;
  text-align: center;
  background-color: #eeeeee;
  width: 360px;
  min-height: 231px;
  position: absolute;
  bottom: 5px;
  z-index: 5;
  box-sizing: border-box;
  padding-top: 25px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation a {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.site-navigation,
.cart,
.shopping-cart,
.services,
.slides,
.services-list,
.services-list-description,
.examples-list,
.social-list,
.features,
.grid,
.sorting-ul,
.catalog-list,
.pagination-list,
.sorting-btns-list,
.cart,
.slides-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.shopping-cart {
  display: inline-block;
  background: url("../img/cart-icon.svg") no-repeat 0 7px;
  padding-left: 40px;
}

.site-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 27px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 69px;*/
}

.site-navigation li {
  margin-right: 49px;
}

.cart {
  margin-top: 27px;
}

/*--services--*/
.services {
  padding-top: 80px;
  padding-bottom: 80px;
}

.services-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services-list li {
  margin-right: 100px;
  width: 300px;
}

.services-list h2 {
  padding: 0px;
  margin: 0px;
  padding-top: 19px;
}

.site-navigation a:hover,
.shopping-cart:hover {
  color: #fb565a;
}

.site-navigation a:active,
.shopping-cart:active {
  color: rgba(0, 0, 0, 0.302);
}

.site-navigation-current {
  display: inline-block;
  box-shadow: inset 0px -2px 0px 0px rgb(251, 86, 90);
  padding: 2px 0px;
}

.title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 25px;
}

.services h2 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.services-list p {
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

/*--description--*/
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid #eeeeee;
  padding-top: 36px;
  font-size: 16px;
  line-height: 24px;
}

.description-left-column {
  width: 760px;
}

.description-left-column h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  margin-bottom: 33px;
  padding-top: 40px;
}

.description-left-column h2+p {
  margin-bottom: 37px;
}

.description-right-column {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: flex-start;
  align-items: flex-end;
}

.nerds-image {
  width: 360px;
  height: 208px;
  background-image: url("../img/nerds-illustration.png");
  position: relative;
  bottom: -5px;
  margin-bottom: 41px;
}

.small-text {
  font-size: 16px;
  line-height: 18px;
}

/*--examples--*/
.examples {
  margin-top: 48px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding-top: 64px;
  padding-bottom: 24px;
}

.examples-list {
  padding-left: 33px;
  padding-right: 61px;
  display: flex;
  justify-content: space-between;
}

.examples-list li {
  position: relative;
}

.examples-list li:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -52px;
  display: block;
  width: 2px;
  height: 52px;
  opacity: 1;
  background-color: #eeeeee;
  ;
}

.examples-list li:nth-child(3)::after {
  left: -61px;
}

.examples-list li:nth-child(4)::after {
  left: -47px;
}

.htmlacademy-logo {
  position: relative;
  left: -1px;
}

.barbershop-logo {
  position: relative;
  top: -16px;
  left: -5px;
}

.pink-logo {
  position: relative;
  bottom: -2px;
  left: -2px;
}

.mishka-logo {
  position: relative;
  bottom: 10px;
  left: 19px;
}

.examples-list img {
  opacity: 0.2;
}

.examples-list img:hover {
  opacity: 1;
}

.examples-list img:active {
  opacity: 0.1;
}

/*--main-footer--*/
.main-footer {
  padding: 60px 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 128px;
}

.social-button {
  margin-right: 12px;
  box-sizing: border-box;
}

.social-button {
  width: 79px;
  height: 79px;
  border-radius: 50px;
  display: block;
}

.vk {
  background: #e1e1e1 url("../img/vk-icon.svg") no-repeat center center;
}

.fb {
  background: #e1e1e1 url("../img/fb-icon.svg") no-repeat center center;
}

.insta {
  background: #e1e1e1 url("../img/insta-icon.svg") no-repeat center center;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: rgba(215, 55, 59, 1);
  box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.vk:active,
.fb:active,
.insta:active {
  opacity: 0.3;
}

.footer-promo {
  width: 542px;
}

.footer-promo b {
  font-size: 36px;
  line-height: 36px;
  color: black;
}

.footer-discount {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/*--CATALOG--*/
.catalog {
  padding-top: 18px;
}

.catalog-header {
  padding-bottom: 70px;
}

.catalog-title {
  margin-top: 70px;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
}

.catalog-item-description {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 30px;
}

.orders {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 25px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.btn-slide {
  padding: 17px 0px 15px 0px;
  width: 240px;
}

.info {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
}

.btn-item {
  padding: 17px 40px 15px 40px;
}

.btn-price {
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.filter-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  width: 260px;
  height: 49px;
  background-color: #eeeeee;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 500;
}

.pagination-item {
  background-color: #eeeeee;
  border-radius: 3px;
  border: 0px;
  padding: 16px 20px 16px 21px;
  text-transform: uppercase;
  color: black;
  display: inline-block;
}

.pagination-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pgn-item-next {
  padding: 16px 79px 16px 79px;
}

.filter-button:hover,
.pagination-item:hover {
  background-color: #dfdfdf;
}

.pagination-item-current {
  box-shadow: inset 3px 3px 0px #bfbfbf, inset -3px -3px 0px #bfbfbf;
  background-color: white;
  padding: 16px 20px 16px 21px;
  display: inline-block;
  border-radius: 3px;
  color: black;
}

.pagination-item-current:hover {
  background-color: #dfdfdf;
  box-shadow: inset 3px 3px 0px transparent, inset -3px -3px 0px transparent;
}

.filter-button:active,
.pagination-item:active,
.pagination-item-current:active {
  box-shadow: inset 0px 3px 0px 0px rgba(191, 191, 191, 1);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item::before {
  content: "";
  padding-top: 40px;
  background: url("../img/browser.png") no-repeat bottom;
  display: block;
  opacity: 0.12;
}

.catalog-item:hover::before {
  content: "";
  padding-top: 40px;
  background: url("../img/browser.png") no-repeat bottom;
  display: block;
  opacity: 1;
}

.catalog-item:hover .catalog-item-purchase {
  display: block;
}

.btn-red {
  background-color: #fb565a;
}

.btn-red:focus,
.btn-red:hover {
  background-color: #e74246;
}

.btn-red:active {
  box-shadow: inset 0px 3px 0px 0px rgba(193, 49, 53, 1);
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(215, 55, 59);
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:focus,
.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  box-shadow: inset 0px 3px 0px 0px rgba(0, 153, 88, 1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:focus,
.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  box-shadow: inset 0px 3px 0px 0px rgba(206, 150, 31, 1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.services-list-description li {
  background: url("../img/list_marker.png") no-repeat 0 11px;
  padding-left: 35px;
  margin-bottom: 24px;
}

.shoppingy {
  background-color: #eeeeee;
  border: none;
  height: 1px;
  margin-left: 140px;
  margin-right: 140px;
}

.close-button {
  font-size: 40px;
  font-weight: bold;
  color: #fb565a;
  opacity: 0.3;
}

.close-button:hover {
  opacity: 1;
}

.close-button:active {
  opacity: 0.1;
}

.letter {
  font-size: 16px;
  line-height: 18px;
}

.letter label {
  font-weight: bold;
}

.letter input[type="text"],
.letter input[type="email"],
.letter textarea {
  border: 2px solid #d7dcde;
  border-radius: 3px;
  width: 368px;
  height: 58px;
  resize: none;
  font-size: 16px;
  line-height: 18px;
  padding-left: 14px;
  color: rgba(68, 68, 68, 0.502);
}

input:required:valid {
  border-color: green;
}

input:required:invalid {
  border-color: #e74246;
  color: #e74246;
}

.letter input[type="text"]:hover,
.letter input[type="email"]:hover,
.letter textarea:hover {
  border: 2px solid #b4b9bb;
  color: rgba(68, 68, 68, 0.502);
}

.letter input[type="text"]:focus,
.letter input[type="email"]:focus,
.letter textarea:focus {
  border: 2px solid #444444;
  color: rgba(68, 68, 68, 1);
  background-color: white;
}

.letter-button {
  font-size: 16px;
  line-height: 18px;
  background-color: #fb565a;
  border-radius: 3px;
  border: 0px;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-transform: uppercase;
  color: white;
}

.features li {
  margin-bottom: 15px;
}

.features li:last-child {
  margin-bottom: 49px;
}

.slides-radio-changed {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin-right: 18px;
  display: block;
  z-index: 2;
}

.slides-radio-changed:hover {
  opacity: 0.5;
}

.slides-radio:checked+.slides-radio-changed::before {
  content: "";
  display: block;
  position: absolute;
  top: 28%;
  right: 0px;
  bottom: 0px;
  left: 28%;
  width: 5px;
  height: 5px;
  background-color: white;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  z-index: 2;
}

.slides-label {
  z-index: 2;
}

.radio-changed {
  position: relative;
  width: 25px;
  height: 25px;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 7px;
}

.grid li {
  margin-bottom: 14px;
}

.grid li:last-child {
  margin-bottom: 43px;
}

.radio-changed,
.radio-text {
  display: inline-block;
  vertical-align: middle;
}

.radio-filter:checked+.radio-changed::before {
  content: "";
  display: block;
  position: absolute;
  top: 24%;
  right: 0px;
  bottom: 0px;
  left: 23%;
  width: 9px;
  height: 9px;
  background-color: black;
  border-radius: 50%;
}

.radio-filter:disabled+.radio-changed {
  opacity: 0.1;
}

.radio-filter:disabled~.radio-text {
  opacity: 0.3;
}

.radio-changed:hover {
  opacity: 1;
}

.checkbox-changed {
  position: relative;
  width: 27px;
  height: 23px;
  background: url("../img/check-box.png") no-repeat 0px 0px;
  opacity: 0.4;
  margin-right: 5px;
}

.checkbox-text,
.radio-text {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.checkbox-changed,
.checkbox-text {
  display: inline-block;
  vertical-align: middle;
}

.checkbox-changed:hover {
  opacity: 1;
}

.checkbox-filter:checked+.checkbox-changed::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: url("../img/check-box.png") no-repeat 0 -23px;
}

.checkbox-filter:disabled+.checkbox-changed {
  opacity: 0.1;
}

.checkbox-filter:disabled~.checkbox-text {
  opacity: 0.3;
}

.caption {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}

.caption h3 {
  margin: 0px;
  padding: 0px;
}

.big-margin legend {
  margin-bottom: 48px;
}

.small-margin legend {
  margin-bottom: 12px;
}

.exception {
  line-height: 18px;
  line-height: 30px;
}

.sorting {
  color: black;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting:hover {
  opacity: 0.6;
}

.sorting:active {
  opacity: 1;
}

.sorting-icon,
.sorting-icon:active {
  opacity: 1;
}

.sorting-icon:hover {
  opacity: 0.6;
}

.inactive {
  opacity: 0.3;
}

.filters fieldset {
  border: 0 none;
  margin: 0px;
  padding: 0px;
}

.filters legend {
  margin-left: 0px;
  padding: 0px;
}

.main-header {
  padding-top: 48px;
  background-color: #eeeeee;
}

.header-index {
  min-height: 495px;
}

.slides-list {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 535px;
  z-index: 1;
  top: -33px;
}

/*----------------------------*/
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 55px;
}

.sorting-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;
}

.sorting-btns-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 26px;
}

/*--left-column--*/
.catalog-item {
  margin-bottom: 27px;
  position: relative;
}

.left-column {
  width: 260px;
}

.sorting-btns-list li:nth-child(5) {
  margin-left: 18px;
}

.sorting-btns-list li:nth-child(4) {
  margin-left: 49px;
}

.sorting-btns-list li:nth-child(3),
.sorting-btns-list li:nth-child(2) {
  margin-left: 26px;
}

.catalog-item:nth-child(odd) {
  margin-right: 40px;
}

.pagination-list {
  display: flex;
}

.pagination-list li {
  margin-right: 11px;
}

.examples-item {}

/*--right-column--*/
.right-column {
  width: 760px;
}

/*--map--*/
.map {
  margin: 0px auto;
  width: 1440px;
}

.writing {
  margin-left: 100px;
  width: 319px;
  height: 308px;
  background-color: gray;
  padding-top: 50px;
  padding-left: 48px;
  box-sizing: border-box;
  text-align: left;
}

.writing h3 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.writing p {
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.table-container {
  width: 360px;
  box-sizing: border-box;
}

.table-container td {
  padding-right: 16px;
}

.table-numbers {
  font-size: 45px;
  line-height: 10px;
  color: #000000;
  font-weight: 700;
}

.percent {
  font-size: 27px;
  line-height: 10px;
  color: #000000;
  font-weight: 700;
}

.description-caption {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 55px;
}
